body {
  background-color: black;
  color: white;
}

.carousel {
  width:700px;
  height:760px;
  margin: auto;
  border-radius: 20px;
}

.todoBox {
  text-align: center;
  margin-top: 6%;
}

.todoBox input {
  border-radius: 8px 0 0 8px;
  margin-top: 2%;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  border-color: aqua;
  background: rgba(0,0,0,0.11);
  color: rgb(52, 255, 52);
}

.todoBox button {
  border-radius: 0 8px 8px 0;
  color: black;
  border-color: red;
  background-color: hotpink;
  height: 36px;
  padding: 4px 16px;
}

.taskBox {
  color: black;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color: rgb(52, 255, 52);
  border-radius: 30px;
}

.taskBox p {
  padding: 10px;
  position: absolute;
  transition: ease-in-out;
}